body{
	background-color:#000000 !important;
	color: #9900ff !important;
    
}

.jumbotron{
	background-image: url(../images/jumbotron.jpg) !important;
	background-size: cover;
	height: 100%;
}
.jumbotron h1{
	color:#9900ff;
}
.btn{
	background-color: #000000 !important; 
	color: 9900ff !important 
}

